
/*font-family: 'Cormorant Unicase', serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto', sans-serif;*/


//Fonts
$font-title: 'Cormorant Unicase', serif;
$font-text: 'Montserrat', sans-serif;
$font-button:  'Roboto', sans-serif;

//Colors

$title-color: #002366;
$button-color: #113CFC;
$text-color: #000000;
$footer-color: #ffffff;



//Media
$tablet: 999px;
$modile: 320px;
